<div class="dropdown notification-dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id='dropdownMenu1' aria-haspopup="true" aria-expanded="true">
    <%= current_user.notifications.where(read: false).count %>
    <span class="glyphicon glyphicon-flag"><i class="fa fa-bell" aria-hidden="true"></i>通知</span>
  </button>
  <ul class="dropdown-menu" aria-labelleby="dropdownMenu1">
    <li class="dropdown-header text-center">Notifications</li>
    <%= render current_user.notifications.where(read: false).order('created_at DESC').last(5) %>
  </ul>
</div>
