body {
	margin: 0px;
	padding: 0px;
	font-family: Impact Sans Pro;
	background-color: #a29f7e;
}


h1 {
	font-weight: lighter;
	font-size: 80px;
	color: #fff;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 0;
}

.hitokoto {
	color: #fff;
	font-family: Impact Sans Pro;
	font-weight: lighter;
	font-size: 20px;
	text-align: center;
}

.top_image {
	background-image: image-url("Top.jpg");
	background-position: center center;
	height: 600px;
	margin-bottom: 50px;
}
.scalton {
	height: 100%;
  background: rgba(255,255,255,0.2);
}
.shop_all {
	margin: 0 auto;
	width: 960px;
	display: block;
}

.shop_box  {
	margin: 0 auto;
	margin-bottom: 30px;
	border-top-style: solid;
	border-top-color: #f25713;
	background-color: #fff;
	box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
	position: relative;
}

.shop_box:hover {
	border-top-style: solid;
	border-top-color: rgb(234, 238, 17);
	box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
}
.shop_head {
	padding: 24px 10px;
	height: 200px;
	display: block;
}
.shop_images {
  height: 266px;
  width: 514px;
  float: right;
  text-align: center;
}
.shop_image, .image, .no_image {
	height: 266px;
	width: 70%;
}
.shop_name_station {
	display: block;
	width: 400px;
}

.shop_jouhou {
	display: block;
}
.shop_name p {
	font-family: Impact Sans Pro;
	font-weight: lighter;
	font-size: 20px;
}
.shop_info {
	margin: 60px 10px;
  background-color: rgb(245, 245, 245);
  word-wrap: break-word;
  padding: 30px;
}

i {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
     font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	text-align: center;
	font-size: 30px;
}
.fa-thumbs-up {
  color: blue;
}

.fav{
  display: inline-block;
  text-decoration: none;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}
.fav:active {
  background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}

.nav_genre {
  height: 40px;
	margin: 0 auto;
  padding: 0;
  display: flex;
  position: fixed;
  left: 82%;
}
.nav_genre li {
  position: relative;
  list-style: none;
}
.nav_genre li a {
  display: block;
  width: 150px;
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 2.8;
  background: #9fb7d4;
  transition: 0.5s;
  text-decoration: none;
  box-sizing: border-box;
}
.nav_genre > li:hover > a {/*layer-1*/
  color: orange;
  background: #afc6e2;
}
.nav_genre > li li:hover > a {/*layer-2*/
  color: olive;
  background: #afc6e2;
}
.nav_genre li ul {
  top: 40px;
  left: -40px;
  position: absolute;
}
.nav_genre li ul li {
  overflow: hidden;
  height: 0;
  transition: 0.2s;
}
.nav_genre li ul li a {
  border-top: 1px solid #eee;
}
.nav_genre li:hover > ul > li {
  overflow: visible;
  height: 40px;
}
.nav_genre li ul li ul {
  top: 0;
  left: 110px;
}
.nav_genre li ul li ul:before {/*layer-2▷*/
  position: absolute;
  content: "";
  top: 15px;
  left: 30px;
  border: 5px solid transparent;
  border-left: 5px solid #fff;
}
.nav_genre li ul li ul li:hover > a {/*layer-3*/
  color: pink;
  background: #afc6e2;
}
.nav_genre li ul li ul.left {
  top: 0;
  left: -190px;
}
.nav_genre li ul li ul.left:before,/*layer-2-left▷*/
.nav_genre li ul li ul li ul.left:before {/*layer-3-left▷*/
  position: absolute;
  content: "";
  top: 15px;
  left: 190px;
  border: 5px solid transparent;
  border-right: 5px solid #fff;
}
.nav_genre li ul li ul.left li:hover > a {/*layer-2-left*/
  color: pink;
  background: #afc6e2;
}
.nav_genre li ul li ul li ul.left li:hover > a {/*layer-3-left*/
  color: purple;
  background: #afc6e2;
}
.nav {
  width: 750px;
  height: 40px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
  display: flex;
}
.nav li {
  position: relative;
  list-style: none;
}
.nav li a {
  display: block;
  width: 150px;
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 2.8;
  background: #9fb7d4;
  transition: 0.5s;
  text-decoration: none;
  box-sizing: border-box;
}
.nav > li:hover > a {/*layer-1*/
  color: orange;
  background: #afc6e2;
}
.nav > li li:hover > a {/*layer-2*/
  color: olive;
  background: #afc6e2;
}
.nav li ul {
  top: 40px;
  left: -40px;
  position: absolute;
}
.nav li ul li {
  overflow: hidden;
  height: 0;
  transition: 0.2s;
}
.nav li ul li a {
  border-top: 1px solid #eee;
}
.nav li:hover > ul > li {
  overflow: visible;
  height: 40px;
}
.nav li ul li ul {
  top: 0;
  left: 110px;
}
.nav li ul li ul:before {/*layer-2▷*/
  position: absolute;
  content: "";
  top: 15px;
  left: 30px;
  border: 5px solid transparent;
  border-left: 5px solid #fff;
}
.nav li ul li ul li:hover > a {/*layer-3*/
  color: pink;
  background: #afc6e2;
}
.nav li ul li ul.left {
  top: 0;
  left: -190px;
}
.nav li ul li ul.left:before,/*layer-2-left▷*/
.nav li ul li ul li ul.left:before {/*layer-3-left▷*/
  position: absolute;
  content: "";
  top: 15px;
  left: 190px;
  border: 5px solid transparent;
  border-right: 5px solid #fff;
}
.nav li ul li ul.left li:hover > a {/*layer-2-left*/
  color: pink;
  background: #afc6e2;
}
.nav li ul li ul li ul.left li:hover > a {/*layer-3-left*/
  color: purple;
  background: #afc6e2;
}

.find_btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: solid 2px #111742;
  border-radius: 3px;
  transition: .4s;
  height: 30px; 
}
.find_btn:hover {
  background: #111742;
  color: white;
}

// レスポンシブのため
.iphone_shop_name {
  display: none;
}


@media screen and (max-width: 425px) {
  #MenuIcon {
    display: none;
  }
  .iphone_all {
    overflow: hidden;
  }
  .nav {
    margin-top: 71px;
    width: 100%;
  }
  .nav li {
    width: 20%;
  }
  .nav li a {
    width: 75px;
    font-size: 10px;
    height: auto;
  }
  .nav li ul li ul {
    left: 37px;
  }
  input {
    width: 92%;
  }
   .shop_all {
     width: 100%;
     margin-top: 100px;
   }
   .shop_box {
     width: 40%;
     float: left;
     margin: 5%;
   }
   .shop_image, .image, .no_image {
     width: 142.5px;
     height: 142.5px;
   }
   .shop_name_station {
     display: none;
   }
   .shop_images {
     height: auto;
     width: auto;
     float: none;
   }
   .shop_head {
     height: auto;
   }
   .shop_info {
     margin: 0;
   }
   .iphone_shop_name {
     display: block;
   }
   .shop_info {
     display: none;
   }
   .top_image {
     height: 405px;
     margin-bottom: 20px;
   }
   .nav_genre {
     margin: 71px auto;
     left: 60%;
   }
}