body {
	margin: 0px;
	padding: 0px;
	font-family: Impact Sans Pro;
	background-color: #a29f7e;
}


h1 {
	font-weight: lighter;
	font-size: 80px;
	color: #fff;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 0;
}

.hitokoto {
	color: #fff;
	font-family: Impact Sans Pro;
	font-weight: lighter;
	font-size: 20px;
	text-align: center;
}

.top_image {
	background-image: image-url("Top.jpg");
	background-position: center center;
	height: 600px;
	margin-bottom: 50px;
}
.scalton {
	height: 100%;
  background: rgba(255,255,255,0.2);
}
.shop_all {
	margin: 0 auto;
	width: 960px;
	display: block;
}

.shop_box  {
	margin: 0 auto;
	margin-bottom: 30px;
	border-top-style: solid;
	border-top-color: #f25713;
	background-color: #fff;
	box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
	position: relative;
	height: 450px;
}

.shop_box:hover {
	border-top-style: solid;
	border-top-color: rgb(234, 238, 17);
	box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
}
.shop_head {
	padding: 24px 10px;
	height: 200px;
	display: block;
}
.shop_image {
	height: 200px;
	width: 514px;
	float: right;
}
.shop_name_station {
	display: block;
	width: 400px;
}

.shop_jouhou {
	display: block;
}
.shop_name p {
	font-family: Impact Sans Pro;
	font-weight: lighter;
	font-size: 20px;
}
.shop_info {
	margin: 24px 10px;
	height: 164px;
	background-color: rgb(245, 245, 245);
}

i {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
     font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	text-align: center;
	font-size: 30px;
}
.fa-heart {
	color: red;
}
