body {
	background: #282828;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
	overflow: auto;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


p {
	color: #fff;
	font-family: Impact Sans Pro;
	font-weight: lighter;
	font-size: 20px;
	margin-top: 0;
	display: block;
}

.media {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	width: 100%;
	text-align: center;
}