body {
	margin: 0px;
	padding: 0px;
  font-family: Impact Sans Pro;
	background-color: #a29f7e;
}

/* .select_form {
  width: 800px;
  margin: 30px auto;
} */
/* form {
  margin: 0 auto;
} */
  
.select_form {
	position: relative;
	width: 90%;
	margin: 2em auto;
	text-align: center;
}
.form_user {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 20%;
	padding: 10px 10px 10px 0;
	font-size: 18px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.3);
}
.form_user:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}
.select_form .form_user {
	appearance: none;
	-webkit-appearance:none
}
.select_form select::-ms-expand {
	display: none;
}
.select_form:after {
	position: absolute;
	top: 18px;
	right: 648px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.3);
	pointer-events: none;
}
/* .form_user_selectlabel {
	color: rgba(0,0,0, 0.5);
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
} */
/* .form_user:focus ~ .form_user_selectlabel, .form_user:valid ~ .form_user_selectlabel {
	color: #da3c41;
	top: -20px;
	transition: 0.2s ease all;
	font-size: 14px;
} */
.form_user_selectbar {
	position: relative;
	display: block;
	width: 100%;
}
.form_user_selectbar:before, .form_user_selectbar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #da3c41;
	transition: 0.2s ease all;
}
.form_user_selectbar:before {
	left: 50%;
}
.form_user_selectbar:after {
	right: 50%;
}
.form_user:focus ~ .form_user_selectbar:before, .form_user:focus ~ .form_user_selectbar:after {
	width: 50%;
}
.form_user_highlight {
	position: absolute;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

@media screen and (max-width: 425px) {
	.select_form {
		margin: 6em auto;
	}
	.form_user {
		padding: 0;
	}
}