body {
	margin: 0px;
	padding: 0px;
  font-family: Impact Sans Pro;
	background-color: #a29f7e;
}

.notification_table {
  width: 50%;
  margin: 50px auto;
  background-color: #fff;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .notification_table {
    width: 100%;
    margin: 90px auto;
  }
}