body {
	margin: 0px;
	padding: 0px;
  font-family: Impact Sans Pro;
	background-color: #a29f7e;
}

.shop_table {
	width: 405px;
	margin: 30px auto;
	border: 1px solid #dbdbdb;
	table-layout: fixed;
	word-break: break-all;
}

.shop_table th {
	text-align: left;
	width: 130px;
	background: #e4e2e2;
	border: 1px solid #f5df61;
	border-width: 1px 0 0 1px;
	padding: 10px 12px;
}

.shop_table td {
	background: #efefef;
	border: 1px solid #dbdbdb;
	border-width: 1px 0 0 1px;
	padding: 10px 12px;
}

.back_btn {
	display: inline-block;
	text-decoration: none;
	color: black;
	border: solid 2px #111742;
	border-radius: 3px;
	transition: .4s;
	height: 30px;
}
.back_btn:hover {
	background: #111742;
	color: white;
}


@media screen and (max-width: 425px) {
	.iphone_all {
		overflow: hidden;
	}
	.shop_table {
		width: 100%;
		margin-top: 100px;
	}
	.back_btn {
		margin-top: 80px;
	}

}