// .simple-calendar {
//   table {
//     -webkit-border-horizontal-spacing: 0px;
//     -webkit-border-vertical-spacing: 0px;
//     background-color: rgba(0, 0, 0, 0);
//     border: 1px solid rgb(221, 221, 221);
//     border-collapse: collapse;
//     box-sizing: border-box;
//     max-width: 100%;
//     width: 100%;
//   }

//   tr {
//     border-collapse: collapse;
//   }

//   th {
//     padding: 6px;
//     border-bottom: 2px solid rgb(221, 221, 221);
//     border-collapse: collapse;
//     border-left: 1px solid rgb(221, 221, 221);
//     border-right: 1px solid rgb(221, 221, 221);
//     border-top: 0px none rgb(51, 51, 51);
//     box-sizing: border-box;
//     text-align: left;
//   }

//   td {
//     padding: 6px;
//     vertical-align: top;
//     width: 14%;

//     border: 1px solid #ddd;
//     border-top-color: rgb(221, 221, 221);
//     border-top-style: solid;
//     border-top-width: 1px;
//     border-right-color: rgb(221, 221, 221);
//     border-right-style: solid;
//     border-right-width: 1px;
//     border-bottom-color: rgb(221, 221, 221);
//     border-bottom-style: solid;
//     border-bottom-width: 1px;
//     border-left-color: rgb(221, 221, 221);
//     border-left-style: solid;
//     border-left-width: 1px;
//   }

//   .day {
//     height: 80px;
//   }

//   .wday-0 {}
//   .wday-1 {}
//   .wday-2 {}
//   .wday-3 {}
//   .wday-4 {}
//   .wday-5 {}
//   .wday-6 {}

//   .today {
//     background: #FFFFC0
//   }

//   .past {}
//   .future {}

//   .start-date {}

//   .prev-month {
//     background: #DDD;
//   }
//   .next-month {
//     background: #DDD;
//   }
//   .current-month {}

//   .has-events {}
// }
body {
	margin: 0px;
	padding: 0px;
  font-family: Impact Sans Pro;
	background-color: #a29f7e;
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1;
}

h1 {
  font-weight: lighter;
  font-size: 80px;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 0;
}
.quick_table {
  background-color: #dedede;
  width: -webkit-fill-available;
  text-align: center;
}

.modal {
  position: fixed;
  display: none;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(210, 243, 238);
  height: 500px;
  padding: 3em;
  border: solid 5px white;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 90%;
}

.quick {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
}
.quick_shop {
  background-color:#e4e2e2;
	border: 1px solid #f5df61;
}
.simple-calendar {
  width: 80%;
  margin: 50px auto;
  background-color: rgba(145, 201, 228, 0.5);
}
.calendar-heading {
  text-align: center;
}

.open_new {
  width: 84px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  background-color: #a29f7e;
  border: solid 2px #f7ff00;
  border-radius: 3px;
  transition: .4s;
}
.open_new:hover {
  background: #f5df61;
  color: black;
}
.open {
  width: 84px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  background-color: #a29f7e;
  border: solid 2px #03ffe0;
  border-radius: 3px;
  transition: .4s;
}
.open:hover {
  background: #67c5ff;
  color: black;
}
.open_fill {
  width: 84px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  background-color: #a29f7e;
  border: solid 2px red;
  border-radius: 3px;
  transition: .4s;
}
.open_fill:hover {
  background: rgb(236, 108, 108);
  color: black;
}

#seat_time_1i {
  display: none;
}
#seat_time_2i {
  display: none;
}
#seat_time_3i {
  display: none;
}

.new_modal {
  position: fixed;
  display: none;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 500px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 3em;
  transform: translate(-50%, -50%);
  background-color: rgba(145, 201, 228, 0.5);
}


input {
	display: block;
	width: 320px;
	height: 50px;
	background: rgb(230, 236, 140);
	outline: none;
	border: 1px solid rgba(255,255,255,0.5);
	font-family: Source Sans Pro;
	font-weight: lighter;
  font-size: 14px;
  margin: 0 auto;
  margin-bottom: 10px;
	padding-left: 10px;
	border-radius: 5px;
}

input[type="submit" i] {
	width: 332px;
	height: 50px;
	font-size: 16px;
	background: #000;
	font-weight: lighter;
	color: #fff;
	border: 0px;
	border-radius: 5px;
}

label {
  color: #fff;
  text-align: center;
}

form {
  text-align: center;
}

select {
  margin-bottom: 30px;
  margin-top: 30px;
}

.delete_btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px #fa3b2d;
  border-radius: 3px;
  transition: .4s;
  height: 40px;
}

.delete_btn:hover {
  background: #fa3b2d;
  color: white;
}

.close, .close_fill, .close_new {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: solid 2px #111742;
  border-radius: 3px;
  transition: .4s;
  height: 30px; 
}
.close:hover, .close_fill:hover, .close_new:hover {
  background: #111742;
  color: white;
}

.fa-thumbs-up {
  color: blue;
}

i {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
   font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
text-align: center;
font-size: 30px;
}

.favuser_btn {
  width: 84px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  background-color: #65e4e9;
  border: solid 2px red;
  border-radius: 3px;
  transition: .4s;
}
.favuser_btn:hover {
  background: rgb(236, 108, 108);
  color: #fff;
}
.tavhu_btn {
  width: 84px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  background-color: #dbff3a;
  border: solid 2px red;
  border-radius: 3px;
  transition: .4s;
}
.tavhu_btn:hover {
  background: rgb(236, 108, 108);
  color: #fff;
}
.show_btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px green;
  border-radius: 3px;
  transition: .4s;
  height: 40px;
}
.show_btn:hover {
  background: rgb(84, 187, 115);
  color: white;
}
.calendar_iphone {
  display: none;
}

@media screen and (max-width: 425px) {
  .iphone_all {
    overflow: hidden;
  }
  .simple-calendar {
    margin: 20px auto;
    width: 100%;
  }
  .calendar {
    display: none;
  }
  .calendar_iphone {
    display: block;
    font-size: 10px;
  }
  .open {
    width: auto;
  }
  .modal {
    width: 73%;
  }
  .quick_table td {
    display: block;
    border-bottom: 1px solid #dedede;
  }
  .simple-calendar .day {
    padding: 0;
  }
  h1 {
    font-size: 54px;
    margin-top: 50px;
  }
  .open_new, .open, .open_fill {
    width: 43px;
    padding: 0;
  }
  .new_modal {
    width: auto;
  }

}