body {
	margin: 0px;
	padding: 0px;
	font-family: Impact Sans Pro;
	background-image: image-url('back.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.profile {
	margin: 50px auto;
	width: 800px;
}
.attachment {
	margin-left: 100px;
	box-shadow: 20px 20px 20px -8px;
	position:absolute;
}
.profile_info {
	width: 500px;
	height: 200px;
	background: #fff;
	margin-left: 200px;
	padding-top: 314px;
	border-radius: 6%;
}
